*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-color: rgb(31, 29, 29);
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.container > #bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container > h1 {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  background-color: rgb(31, 29, 29);
  color: #fff;
  font-weight: 900;
  font-size: 15rem;
  font-family: sans-serif;
  mix-blend-mode: multiply;
  user-select: none;
}

@media (max-width: 1024px) {
  .container > h1 {
    font-size: min(35vw, 10rem);
  }
}

@media (max-width: 768px) {
  .container > h1 {
    font-size: min(25vw, 7rem);
  }
}

@media (max-width: 424px) {
  .container > h1 {
    font-size: min(15vw, 5rem);
  }
}
