*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 20em;
  height: 2.5em;
  position: relative;
}

.form__input {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #121212;
  border: 2px solid #fff;
  border-radius: 0.5em;
  outline: none;
  color: #fff;
  padding-left: 1em;
}

label {
  position: absolute;
  background: #121212;
  color: #fff;
  font-family: sans-serif;
  left: 1em;
  top: 0.75em;
  cursor: text;
  transition: top 350ms ease-in, font-size 350ms ease-in;
}

.form__input:hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.form__input:focus {
  border: 2px solid #00ffff;
}

.form__input:focus ~ label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ label {
  top: -0.5em;
  font-size: 0.75rem;
  padding: 0 0.125em;
}
