*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcfff0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5rem;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}

.word {
  color: transparent;
  font-weight: 900;
  text-shadow: 0 1.5em 0.25px #fff;
  animation: moveUp 250ms ease-in-out 1 forwards;

  /* CSS variable for text-color */
  --text-color: #de3163;
}

.word:nth-child(2) {
  animation-delay: 150ms;

  --text-color: #6495ed;
}

.word:nth-child(3) {
  animation-delay: 300ms;

  --text-color: #00ee76;
}

.word:nth-child(4) {
  animation-delay: 450ms;

  --text-color: #ff7f50;
}

@keyframes moveUp {
  100% {
    text-shadow: 0 0 0.25px var(--text-color);
  }
}
