*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bed1cf;
}

.text-rotate-container {
  perspective: 8em;
}

h1 {
  font-size: 3rem;
  font-family: sans-serif;
  text-align: center;
  backface-visibility: hidden;
}

h1.flip {
  animation: flip 850ms ease-in 1;
}

@keyframes flip {
  0% {
    opacity: 0;
    transform: rotateX(120deg);
  }

  40% {
    opacity: 1;
  }

  60% {
    transform: rotateX(0);
  }

  80% {
    transform: rotateX(15deg);
  }

  100% {
    transform: rotateX(0);
  }
}
