*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #121212;
}

.star-rating {
  width: min(90%, 350px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.star {
  width: 50px;
  height: 45px;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  background-color: #262626;
  transform: rotateX(50deg);
  cursor: pointer;
  transition: transform 150ms ease-in;
  outline: none;
}

.star.rated {
  background: #ffea00;
  transform: rotateX(0);
}
