*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #afe1af;
}

.share-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border-radius: 100vmax;
  border: 0;
  font-size: 2rem;
  background-color: #fff;
  color: #008000;
  transition: width 300ms ease-in-out;
  transition-delay: 50ms;
  cursor: pointer;
  z-index: 1;
}

.share-btn::before {
  content: "x";
  position: absolute;
  left: 5px;
  font-size: 2.25rem;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  width: 1.5em;
  height: 1.5em;
  background-color: transparent;
  color: #fff;
  border-radius: inherit;
  transition: background-color 300ms ease-in-out;
  z-index: -1;
}

.social-icons {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% - 2em);
  height: 100%;
  right: 0;
  border-radius: inherit;
}

.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}

.share-icon {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.share-btn.open {
  width: 8em;
}

.share-btn.open::before {
  background-color: #008000;
}

.share-btn.open :is(.fa-facebook-f, .fa-twitter, .fa-instagram) {
  transform: scale(1);
  color: #008000;
}

.share-btn.open .share-icon {
  transform: scale(0);
}
