*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

.wrapper {
  width: min(90%, 400px);
  height: calc(3.25em + 1.35vw);
  position: relative;
  overflow: hidden;
}

.words {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: calc(40px + 1.5vw);
}

.words span {
  display: block;
  color: #121212;
  letter-spacing: 5px;
  text-shadow:
    -1px 1px 0 #cfc547,
    1px 1px 0 #ff99cc,
    1px -1px 0 #00ffff,
    -1px -1px 0 #00ff00;
  user-select: none;
  animation: rotate 7s infinite ease-in-out;
}

@keyframes rotate {
  10% {
    transform: translateY(-105%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-205%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-305%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-405%);
  }

  100% {
    transform: translateY(-400%);
  }
}
