*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 100vh;
}

h1 {
  position: relative;
  color: hsla(230, 40%, 50%, 1);
  font-size: 10rem;
  font-family: cursive;
  letter-spacing: 0.05em;
  text-shadow: 0 0 0.15em #121212;
}

h1::before {
  content: attr(data-shadow);
  position: absolute;
  top: 0.02em;
  left: 0.06em;
  color: transparent;
  background-image: linear-gradient(
    45deg,
    transparent 45%,
    hsla(48, 20%, 90%, 1) 45%,
    hsla(48, 20%, 90%, 1) 55%,
    transparent 0
  );

  background-size: 0.07em 0.07em;
  background-clip: text;
  -webkit-background-clip: text;
  animation: rotate-lines 25s linear infinite;
  z-index: -1;
}

@keyframes rotate-lines {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% -100%;
  }
}

@media (max-width: 35em) {
  h1 {
    font-size: 5rem;
  }
}
