*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1d36;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  color: #ddd;
}

label {
  font-size: 1.25rem;
  font-family: sans-serif;
}

input {
  height: 3em;
  width: 400px;
  padding: 0.5em;
  font-size: 1.15rem;
  color: #ddd;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: transparent;
  outline: none;
}

.username__condition {
  font-size: 0.875rem;
  font-family: sans-serif;
  color: #ed2b2a;
  background-color: #e3b2b8;
  padding: 0.5em;
  border-radius: 0.25em;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.username__condition i {
  margin-right: 0.25em;
}

input::placeholder {
  color: #aaa;
}

input:invalid {
  border-color: #ed2b2a;
  animation: shake 350ms 1;
}

input:invalid ~ .username__condition {
  opacity: 1;
}

input:focus:not(:placeholder-shown):valid {
  border-color: #4e9f3d;
}

@keyframes shake {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
