*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 8em;
  position: relative;
}

.btn {
  position: absolute;
  width: 2em;
  height: 2em;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  transition:
    background-color 300ms ease-in,
    color 300ms ease-in;
}

.search-btn {
  background-color: #fff;
  color: rgb(27, 31, 105);
}

.search-btn:hover {
  color: #fff;
  background-color: rgb(27, 31, 105);
}

.close-btn {
  color: #fff;
  background-color: transparent;
}

.close-btn:hover {
  background-color: #fff;
  color: rgb(27, 31, 105);
}

.container {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(27, 31, 105);
  transition:
    top 200ms ease-in,
    height 300ms ease-out 200ms;
}

.container.show {
  top: 0;
  height: 130%;
}

input[type="search"] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  width: 80%;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  outline: none;
  caret-color: #fff;
  color: #fff;
}

input[type="search"]::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 424px) {
  nav {
    height: 5em;
  }

  .btn {
    font-size: 1.5rem;
    right: 0.5em;
  }

  input[type="search"] {
    font-size: 1rem;
    width: 65%;
  }
}
