*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* to see button in action */
body {
  height: 3000px;
}

.scroll-to-top-btn {
  display: none;
  position: fixed;
  width: 3.5em;
  height: 3.5em;
  right: 2em;
  bottom: 2em;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 0;
  color: #001a2e;
  cursor: pointer;

}
