*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  width: 8em;
  height: 2.5em;
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  border: 0;
  cursor: pointer;
  background-color: #ffdd99;
  color: #5d4f0f;
  transition: background-color 200ms ease-in-out;
}

.border-container {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}

.border-line {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke: #5d4f0f;
  stroke-width: 5px;
  stroke-dasharray: 0 100;
  transition: stroke-dasharray 750ms ease-in-out;
}

.btn:hover {
  background-color: transparent;
}

.btn:hover .border-line {
  stroke-dasharray: 100 0;
}
