*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
}

h1 {
  position: relative;
  width: 10em;
  height: 1.2em;
  font-size: 4rem;
  font-family: sans-serif;
  color: transparent;
}

h1::before,
h1::after {
  content: "Hello Everyone";
  position: absolute;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

h1::before {
  top: 0;
  height: 55%;
  color: #fff;
  background-color: #121212;
  animation: moveUp 1.5s ease-in-out 1;
  overflow: hidden;
  z-index: 2;
}

h1::after {
  bottom: 0;
  height: 100%;
  background: linear-gradient(180deg, transparent 55%, #fff 55%);
  background-clip: text;
  -webkit-background-clip: text;
  animation: moveDown 1.5s ease-in-out 1;
  z-index: 1;
}

.message {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 1rem;
  color: #dc143c;
  z-index: -1;
}

@keyframes moveUp {
  0%,
  100% {
    top: 0;
  }

  50%,
  70% {
    top: -0.75em;
  }
}

@keyframes moveDown {
  0%,
  100% {
    bottom: 0;
  }

  50%,
  70% {
    bottom: -0.75em;
  }
}

@media (max-width: 424px) {
  h1 {
    font-size: 2.15rem;
  }

  .message {
    font-size: 0.75rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }

  .message {
    font-size: 0.5rem;
  }
}
